<%- include('header.ejs')%>
    <style>
        input {
            width: 48vh;
            margin: 10px;
        }
    </style>
    <div class="container-fluid d-flex justify-content-center align-items-center">
        <div class="card  col-lg-6" style="margin-top:25vh;">
            <div class="card-body">
                <h5 class="card-title fw-semibold mb-4">Edit category</h5>
                <form method="post">
                    <div style="display: flex;flex-direction: column;">
                        <input required placeholder="Category name" value="<%=categoryData.name%>" id="name" name="name" type="text" class="form-control">
                    </div>
                    <div class="error text-danger fw-bolder">
                        <%if(typeof message!='undefined'){%>
                            <%=message%>
                            <%}%>
                    </div>
            </div>
            <button type="button" onclick="validate()" class="btn btn-primary mx-2">Update</button>
            </form>
        </div>
    </div>
    <script>
        const error = document.querySelector('.error')
        function validate(){
            let flag = true
            const inputs = document.querySelectorAll('input').forEach((inp)=>{
            if(inp.value==''){
                error.innerHTML = 'Please fill the '+inp.id
                flag=false
            }
        })
        if(flag){
            const form = document.querySelector('form').submit()
        }
        }
        
    </script>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/sidebarmenu.js"></script>
    <script src="../assets/js/app.min.js"></script>
    <script src="../assets/libs/simplebar/dist/simplebar.js"></script>