<%- include('header.ejs') %>
<% async: true %>
<title>
  <% if(typeof title !='undefined'){ %>
    <%=title%>
    <%}
    else{%>
      HomePage
      <%}%>
    
</title>
<link rel="stylesheet" href="assets/css/css_login.css">
<body>
  <div class="login-container">
    <div class="login-box">
      <h2>Login</h2>
      <form id="form-login" method="post">
        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="email" id="email" name="email" required>
          <font size="2" class="error" style="font-weight: bold;color: red;">
          <%if(typeof message!='undefined'){ %>
            <%=message%>
            <%}%>
          </font>
        </div>
        
        <a onclick="submit()"class="btn btn-login">Send reset link</a>
      </form>
      <hr>
      <font size="2" style="font-weight: bold; margin-left: 13vh;"><a href="/">Login here</a></font>

    </div>
  </div>
  <script>
    function showPass(){
      const password = document.getElementById('password')
      password.type = password.type=='text'?'password':'text'
    }
    function submit(){
      let username = document.getElementById('email').value;
      let form = document.getElementById('form-login')
      let error = document.querySelector('.error');
      if(username==''&&password==''){
        error.innerHTML = 'Please fill it'
      }
      else{
        if(username==''){
        error.innerHTML = 'Please enter email'
      }
      else{
        if(username!=''){
        form.submit()
      }
      }
      }
    }
  </script>
</body>
<%- include('footer.ejs') %>
</html>